<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="JeffTestGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="JeffTestBidGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Jeff\Test\Model\ResourceModel\Bid\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">JeffTestGridFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Jeff\Test\Model\ResourceModel\Bid\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">jefftest_bidprice</argument>
            <argument name="eventPrefix" xsi:type="string">jeff_test_bid_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">bid_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Jeff\Test\Model\ResourceModel\Bid</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="jeff_test_bid_listing_data_source" xsi:type="string">Jeff\Test\Model\ResourceModel\Bid\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>